<a href="https://colab.research.google.com/github/Palakds/Assignments_PW_DS/blob/main/Assignment_3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1 Create a python program to sort the given list of tuples based on integer value using a lambda function.
# [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
lsts = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
lsts

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [3]:
lsts.sort(key = lambda x: x[1])
print(lsts)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [4]:
#2 Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
list(map(lambda x :x**2,lst))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
#3 Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
# Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
l2 = [1,2,3,4,5,6,7,8,9,10]

In [8]:
list(map(lambda x: str(x) ,l2))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [9]:
#4 Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.
l3 = list(range(1,26))
l3

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [10]:
from functools import reduce
reduce(lambda x,y: x*y ,l3)

15511210043330985984000000

In [11]:
#5 Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
# [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
l4 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
l4

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [12]:
list(filter(lambda x : x%2==0 and x%3==0,l4))

[6, 60, 90, 120]

In [13]:
#6 Write a python program to find palindromes in the given list of strings using lambda and filter function.
#['python', 'php', 'aba', 'radar', 'level']
lst=['python', 'php', 'aba', 'radar', 'level']
lst

['python', 'php', 'aba', 'radar', 'level']

In [14]:
list(filter(lambda x: (x == "".join(reversed(x))), lst))

['php', 'aba', 'radar', 'level']