<a href="https://colab.research.google.com/github/Palakds/Assignments_PW_DS/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q1.Create one variable containing following type of data : (i) string (ii) list (iii) float (iv) tuple

In [2]:
str="Palak Gupta"
lst=[1,2,3,True]
flt=1.2
tup=(1,2,3,4)
print(type(str))
print(type(lst))
print(type(flt))
print(type(tup))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

## Q2.Given are some following variables containing data: (i) var1 = ‘ ‘ (ii) var2 = ‘[ DS , ML , Python]’ (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] (iv) var4 = 1. What will be the data type of the above given variable.

In [4]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

## Q3.Explain the use of the following operators using an example: (i) / (ii) % (iii) // (iv) **

In [5]:
1/2

0.5

In [6]:
1%2

1

In [7]:
90//7

12

In [8]:
90**2

8100

In [10]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

lst=[1,True,"Palak",4.5,5,6,7,8,9,10]
for i in lst:
    print(i,type(i))

1 <class 'int'>
True <class 'bool'>
Palak <class 'str'>
4.5 <class 'float'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
10 <class 'int'>

In [11]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

A=10
B=2
count=0
while A%B==0:
    count+=1
    A=A/B
print(count)

1

In [12]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

for i in range(1,26) :
    if (i%3 == 0):
        print(f"{i} is divisible by 3")
    else :
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [13]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

#Mutable objects can be modified after its created whereas immutable objects cannot be modified once created.

lst=[1,2,"palak",True]

In [14]:
print(lst)

[1, 2, 'palak', True]

In [15]:
lst=[1,2,"gupta",False]
print(lst)

[1, 2, 'gupta', False]

In [16]:
str="palak"
print(str)

palak

In [17]:
str="Gupta"
print(str)

Gupta